	<div id="left">
<h1>Kelp.com (do not steal!)</h1>

<% if @restaurants.all.any? %>
	<ul>
	<% @restaurants.all.each do |restaurant| %>


		<div id="restaurant">
			<h4><%= restaurant.name %></h4>
	
			<li>Cuisine: <%= restaurant.cuisine %></li>
			<li>Address: <%= restaurant.address %></li>
			<li>Has <%= pluralize restaurant.reviews.count, 'review' %> Average rating: <%= star_rating(restaurant.average_rating) %> </li>

			Reviews: <% restaurant.reviews.each do |x| %>
				<div id="reviews">
				<%= x.review %>
				<li>Rating: <%= star_rating(x.rating) %></li>
				</div>

			<% end %>

			<div id="buttons">
			<div class="button"><%= link_to "Review #{restaurant.name}", 	new_restaurant_review_path(restaurant) %></div>

			<div class="button"><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(	restaurant) %></div>
	
			<div class="button"><%= link_to "Delete #{restaurant.name}", restaurant_path(	restaurant), method: :delete, data: {confirm: 'Can you live with this?'} %></div>
			</div>
			<div id="extraSpace"></div>
			</div>
		
	<% end %>
	</ul>


<% else %>

<h2>Lol no food 4 u!</h2>

<% end %>

<input class="button" type="submit" value="Add New Restaurant" 
    onclick="window.location='/restaurants/new';" />

    </div>

    <div id="right">
    </div>