<template id="review_template">
	<div class='review'>
		{{ review }}
		{{ star_rating }}
	</div>
</template>

<header>

	<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

	<h1>Kelp.com</h1>
</header>

<div id="main">
<div id="left">
	<% if @restaurants.all.any? %>
		<% @restaurants.all.each do |restaurant| %>
			<div class="restaurant">
				<h4><%= restaurant.name %></h4>
	
				<ul>
					<li>Cuisine: <%= restaurant.cuisine %></li>
					<li>Address: <%= restaurant.address %></li>
					<li>Has <%= pluralize restaurant.reviews.count, 'review' %>
				</ul>

				 Average rating: <%= number_with_precision(percent_rating(restaurant.average_rating), precision: 1) %>%</li>

				<li>Reviews:</li>
				
				<div class='reviews'>
					<% restaurant.reviews.each do |x| %>
						<div class='review'>
							<%= x.review %>
							Rating: <%= star_rating(x.rating) %>
						</div>
					<% end %>
				</div>


				<div class="newreview">
					<%= render 'newreview', restaurant: restaurant %>
				</div>

				<div class="buttons">
					<div class="button">
						<%= link_to "Edit #{restaurant.name}", 	edit_restaurant_path(	restaurant) %>
					</div>
		
					<div class="button">
						<%= link_to "Delete #{restaurant.name}", 	restaurant_path(	restaurant), method: :delete, data: {confirm: 'Can you live with this?'} %>
					</div>

					<div class="extraSpace"></div>
				</div>

			</div>
		<% end %>
	<% else %>
		<h2>Lol no food 4 u!</h2>
	<% end %>

	<input class="button" type="submit" value="Add New Restaurant" 
    onclick="window.location='/restaurants/new';" />
</div>

<div id="right">
</div>
</div>